* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jost';
    src: url(../jost/Jost-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url(../jost/Jost-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

html {
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.container {
    
    width: 75rem;
    margin: 0px auto;
}

.header {
    height: 40rem;
    position: relative;
    background-image: linear-gradient(-5.71deg, white 49.9%, transparent 50.1%);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100vw 10vw;
}

.header__container {
    position: relative;
}

.header__background {
    height: 40rem;
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-image: url("../images/pexels-benjamin-suter-3617500.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.header__mountains {
    height: 33vw;
    position:absolute;
    width: 100vw;
    bottom: 0;

    background-image: url("../images/pexels-benjamin-suter-3617500-mountains.webp");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.icon {
    fill: currentColor;
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.075em;
}

.navigation__list-item {
    list-style-type: none;
    display: block;
    float: left;
}

.navigation__list-item--menu {
    float: right;
    font-size: 3rem;
}

.navigation__list-item-link {
    color: white;
    text-decoration: none;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    text-shadow: 0 0 0.5rem black;
}

.navigation__list-item-link:hover {
    border-bottom: 0.2rem solid rgb(0,226,156);
    
}

.navigation__list-item--menu .navigation__list-item-link:hover {
    border-bottom: none;
    color: rgb(200, 200, 200);
}

.navigation__list-item-link--logo:hover {
    border-bottom: none;
    color: rgb(200, 200, 200);
}

.navigation__list-item-logo {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
}

.header__heading-container {
    clear: both;
}

.header__heading-main {
    padding-top: 5rem;
    font-size: 7rem;
    text-align: center;
    line-height: 92%;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.header__heading-sub {
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}