@use "../../abstracts" as *;
@use "sass:color";
@use "sass:math";

.about {
    background-color: $color-secondary-dark;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about__text {
    color: white;
}

.about__img {
    $-img-size: 30rem;
    width: $-img-size;
    height: $-img-size;
    object-fit: cover;
    border-radius: math.div($-img-size, 2);
    shape-outside: circle(50% at 50% 50%);
    // clip-path: circle(50% at 50% 50%); <<< dies ist auch möglich!
    float: left;

    
}