@use "../../abstracts" as *;

.motivation {
    margin-top: 2rem;
}

.motivation__column-text {
    float: left;
    width: 33.33%;
}

.motivation__text-heading {
    margin-top: 4rem;
    color: $color-secondary;
    font-weight: 500;

    &::before {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        background-color: $color-secondary-light;
        margin-bottom: 0.5rem;
    }
}

.motivation__text {
    color: $color-secondary;
    margin-top: 0.2rem;
}

.motivation__column-images {
    float: left;
    width: 66.66%;
    height: clamp(10rem, calc(35vw + 10rem), 36rem);
    position: relative;
}

/**
 * @param $top: Position from top (in rem)
 * @param $left: Position from left (in %)
 */
@mixin motivation__image-position($top, $left) {
    top: $top;
    left: $left;

    &:hover {
        top: $top - 0.66rem;
        left: calc(#{$left} - 0.66rem);
    }
}

.motivation__image {
    width: 50%;
    position: absolute;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); 
    box-sizing: content-box;
    filter: grayscale(50%);
    transform: scale(1);
    transition: filter ease-in-out 0.2s, transform ease-in-out 0.2s;

    &--first {
        width: 75%;
        z-index: 1;

        @include motivation__image-position(0rem, 25%);
    }

    &--second {
        width: 37%;
        z-index: 2;

        @include motivation__image-position(10rem, 10%);
    }

    &--third {
        z-index: 3;
        width: 42%;

        @include motivation__image-position(5rem, 40%);
    }

    &:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
        border: 0.33rem solid $color-primary;
        padding: 0.33rem;
        z-index: 10;
    }
}