@use "../../abstracts" as *;

$-tours-background-color: $color-secondary-dark;

.tours {
    background-color: $-tours-background-color;
    height: 30rem;
    position: relative;
}

%tours__before-and-after {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "Tame the Wild";
    text-transform: uppercase;
    color: $-tours-background-color;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 0.1rem white;
    z-index: 0;
}

.tours::before {
    @extend %tours__before-and-after;

    @supports (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.2)) or (text-stroke: 1px (rgba(255, 255, 255, 0.2))) {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
        text-stroke: 1px rgba(255, 255, 255, 0.2);
        text-shadow: none;
    }
}

.tours::after {
    @extend %tours__before-and-after;

    @supports (-webkit-text-stroke: 1px transparent) or (text-stroke: 1px transparent) {
        -webkit-text-stroke: 1px transparent;
        text-stroke: 1px transparent;
        text-shadow: none;
    }
}

.tours__container {
    position: relative;
    z-index: 1;
}

.tours__heading {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 4rem;
    

}

.tours__card-icon {
    width: 4rem;
    color: white;
}